
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
.vs/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.hg
.hgignore
.idea/*
*.crunchsolution.local.xml
Artikel/Cpp Unit Tests/examples/examples.sdf
Artikel/Cpp Unit Tests/examples/ipch/EXAMPLES-4985189e/EXAMPLES-9359f1cb.ipch
ipch/
*.sdf
*.ncrunchsolution
packages/

